body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

header {
    min-width: 300px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input:focus{
    outline: none;
}

.inputButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FA;
    border-radius: 30px;
    width: 250px;
    height: 37px;
}

.inputButton:focus-within{
    border: 1.5px solid #212529;
}

.inputButton button{
    width: 30px;
    height: 30px;
    background-color: #FFE9EE;;
}

.inputButton button:hover {
    transition: 0.4s;
    background-color: #FF2253;

}

div button img {
    width: 15px;
    height: 15px;
}

header button {
    border: none;
    border-radius: 50%;
    background-color: #F8F9FA;
}

#cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    font-weight: 700;
}

header img {
    width: 123px;
    height: 40px;
}

header input {
    width: 200px;
    height: 33px;
    border-radius: 30px;
    text-align: center;
    margin: 10px 0;
    border: none;
    background-color: #F8F9FA;
    
}


main {
    display: flex;
    overflow: scroll;
}

main div {
    width: 300px;
    height: 400px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main div h2 {
    font-weight: bold;
}

main img {
    max-width: 300px;
    width: 300px;
    height: 200px;
}

main img:hover {
    transition: 0.4s;
    border: solid #FF2253 3px;
}

main section {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.price {
    color: black;
    font-weight: bold;
}

#tittle {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 320px;
    height: 59.85px;
    left: 18px;
    top: 616px;
    background: #FF2253;
    border-radius: 14.9625px 14.9625px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#itemsToBuy {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 320px;
    background: #F8F9FA;
    flex-direction: column;
}

#itemsToBuy div {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#itemsToBuy section {
    display: flex;
    justify-content: space-between;
}

#emptyCar img {
    width: 50px;
    height: 50px;
    margin-left: 42%;
}

#emptyCar {
    width: 320px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: #F8F9FA;
    font-size: 11px;
    color: #868E96;
}

#itemsToBuy img {
    width: 75px;
    height: 75px;
    border-radius: 8px;
}

#itemsToBuy p, #itemsToBuy span {
    margin-bottom: 10px;
}

#itemsToBuy p {
    font-weight: 700;
    line-height: 20px;
}

.typeBasket {
    color: #868E96;
    font-size: 14px;
}

.priceBasket {
    color: #212529;
}

#itemsToBuy button {
    width: 26px;
    height: 26px;
    border: none;
    background: white;
}

main img {
    border: 3px solid #FFE9EE;
    border-radius: 8px;
}

main h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

main p {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 12px;
    line-height: 16px;
    color: #0000006c;
}

.add {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: #E4F7EF;
}

.add:hover{
    transition: 0.4s;
    background-color: #4ACA94;
}

.button {
    display: flex;
    margin: 20px 20px;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

.todos, .bebidas, .panificadora, .frutas {
    width: 94px;
    height: 30px;
    border-radius: 30px;
    background-color: #FFE9EE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #212529;
    margin-top: -15px;
    margin-left: 10px;
    border: none;
}

.button button {
    background-color: white;
    transition: 0.4s;
}

.button button:hover {
    transition: 0.4s;
    background-color: #F8F9FA;
    border: 1px solid #8c8e92;
}


#balance {
    display: none;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 290px;
    height: 120px;
    font-weight: 700;
    font-size: 14px;
}

.flex section {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 0;
}

@media(min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        max-width: 1600px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    header {
        padding: 0px 30px;
        min-width: 700px;
        align-items: center;
        height: 80px;
        background: #FFFFFF;
        margin-bottom: 20px;
        flex-direction: row;
        justify-content: space-between;
    }

    .button {
        justify-content: flex-start;
    }

}

@media(min-width: 1024px) {
    main {
        width: 1000px;
    }

    header {
        padding: 0px 40px;
    }

    .vitrine {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

@media(min-width:1440px) {
    header {
        padding: 0px 70px;
    }

    .button {
        padding: 0px 25px;
    }
}

@media(min-width:1600px) {
    header {
        padding: 0px 150px;
    }

    .button {
        padding: 0px 105px;
    }
}