
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
}

header{
    min-width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header img{
    width: 100px;
    height: 50px;
}

header input{
    width: 200px;
    height: 49px;
    border-radius: 30px;
    text-align: center;
    margin: 10px 0;
}

main {
    display: flex;
    overflow: scroll;
}

main div {
    width: 300px;
    height: 400px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main div h2{
    font-weight: bold;
}

main img {
    max-width: 300px;
    width: 300px;
    height: 200px;
}

main section{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.price{
    color: black;
    font-weight: bold;
}

#tittle{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 320px;
    height: 59.85px;
    left: 18px; 
    top: 616px;
    background: #FF2253;
    border-radius: 14.9625px 14.9625px 0px 0px;
}

#itemsToBuy{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 320px;
    min-height: 200px;    
    background: #F8F9FA;
    flex-direction: column;
}

#itemsToBuy div{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#itemsToBuy section{
    display: flex;
    justify-content: space-between;
}

#emptyCar img{
    width: 50px;
    height: 50px;
    margin-left: 42%;
}

#emptyCar{
    width: 320px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: #F8F9FA;
    font-size: 11px;
    color: #868E96;;
}

#itemsToBuy img{
    width: 75px;
    height: 75px;
    border-radius: 8px;
}

#itemsToBuy p, #itemsToBuy span{
    margin-bottom: 10px;
}

#itemsToBuy button{
    width: 26px;
    height: 26px;
    border-radius: 8px;
}

main img{
    border: 3px solid #FFE9EE;
    border-radius: 8px;
}

main h2{
    margin-top: 10px;
    margin-bottom: 20px;
}

main p{
    margin-bottom: 10px;
    text-align: justify;
    font-size: 12px;
    line-height: 16px;
    color: #0000006c;
}

.add{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: #E4F7EF;
}

.button{
    display: flex;
    margin: 20px 20px;
    justify-content: center;
    align-items: center;
    
}

body .button .todos{
    background-color: #F8F9FA;
    border: 1px solid #212529;
}

body .button .panificadora{
    background-color: #FFF7F4;
}

body .button .frutas{
    background-color: #FFE4EA;
}

body .button .bebidas{
    background-color: #F3EEF5;
}

.todos, .bebidas, .panificadora, .frutas{
    width: 94px;
    height: 30px;
    border-radius: 30px;
    background-color: #FFE9EE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #212529;
    margin-top: -15px;
    margin-left: 10px;
    border: none;
}

#balance{
    display: none;
}

.flex{
    display: flex;
    flex-direction: column;
}

.flex section{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 0;
}

@media(min-width: 768px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    header{
        display: flex;
        min-width: 700px;
        align-items: center;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px -20px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
        flex-direction: row;
        justify-content: space-between;
    }
    .button{
        margin-right: 40vh;
    }

}

@media(min-width: 1024px){
    main{
        width: 1000px;
    }
    .vitrine{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

